<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Stackoverflow for Angular Developer</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
    <main role="main"
          class="container-fluid"
          ng-app="devdroid.stackoverflow">
        <div ng-controller="NewestPostController">
            <h5>{{title}}</h5>
            <div class="list-group">
                <a class="list-group-item list-group-item-action"
                   ng-repeat="post in posts">
                    <div class="row">
                        <div class="col-md-1 text-center border-right">
                            <div>Answers</div>
                            <div>
                                <h3 class="">{{post.answer_count}}</h3>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{post.title}}</h5>
                                <small>{{now-post.creation_date}} secs ago</small>
                            </div>
                            <p class="mb-1"><span ng-repeat="tag in post.tags"><span
                                          class="badge badge-pill badge-info">{{tag}}</span>&nbsp;</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div ng-controller="MostVotedPostController">
            <h5>{{title}}</h5>
            <div class="list-group">
                <a class="list-group-item list-group-item-action"
                   ng-repeat="post in posts"
                   ng-click=grabAnswers(post.question_id)>
                    <div class="row">
                        <div class="col-md-1 text-center border-right">
                            <div>Votes</div>
                            <div>
                                <h3 class="">{{post.score}}</h3>
                            </div>
                        </div>
                        <div class="col-md-11">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{post.title}}</h5>
                                <small>{{now-post.creation_date}} secs ago</small>
                            </div>
                            <p class="mb-1"><span ng-repeat="tag in post.tags"><span
                                          class="badge badge-pill badge-info">{{tag}}</span>&nbsp;</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- <div class="list-group">
            <a class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-md-1 text-center border-right">
                        <div>Answers</div>
                        <div>
                            <h3 class="">0</h3>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</h5>
                            <small>30 sec ago</small>
                        </div>
                        <p class="mb-1"><span class="badge badge-pill badge-info">Secondary</span>
                            <span class="badge badge-pill badge-info">Secondary</span>
                            <span class="badge badge-pill badge-info">Secondary</span></p>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-md-1 text-center border-right">
                        <div>Answers</div>
                        <div>
                            <h3 class="">1</h3>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
                            <small>2 min ago</small>
                        </div>
                        <p class="mb-1"><span class="badge badge-pill badge-info">Secondary</span>
                            <span class="badge badge-pill badge-info">Secondary</span>
                            <span class="badge badge-pill badge-info">Secondary</span></p>
                    </div>
                </div>
            </a>
            <a class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-md-1 text-center border-right">
                        <div>Answers</div>
                        <div>
                            <h3 class="">1</h3>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor</h5>
                            <small>2 min ago</small>
                        </div>
                        <p class="mb-1"><span class="badge badge-pill badge-info">Secondary</span>
                            <span class="badge badge-pill badge-info">Secondary</span>
                            <span class="badge badge-pill badge-info">Secondary</span></p>
                    </div>
                </div>
            </a>
        </div> -->
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/newestPostController.js"></script>
    <script src="/js/mostVotedPostController.js"></script>
</body>

</html>