<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Stackoverflow for Angular Developer</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>

<body>
    <div ng-app="devdroid.stackoverflow">
        <div ng-controller="NewestPostController">
            <h5>{{title}}</h5>
            <ul ng-repeat="post in posts">
                <li>{{post.title}}</li>
            </ul>
        </div>
        <div ng-controller="MostVotedPostController">
            <h5>{{title}}</h5>
            <ul ng-repeat="post in posts">
                <li>{{post.title}}</li>
            </ul>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/newestPostController.js"></script>
    <script src="/js/mostVotedPostController.js"></script>
</body>

</html>