<div class="mb-3 border-bottom text-center">
    <h4 class="font-weight-normal">{{pageTitle}}</h4>
</div>
<div class="list-group">
    <a href="#question/{{question.question_id}}"
       class="list-group-item list-group-item-action"
       ng-repeat="question in questions">
        <div class="row">
            <div class="col-md-1 text-center border-right"
                 ng-if="showVotes">
                <div>Votes</div>
                <div>
                    <h4 class="">{{question.score}}</h4>
                </div>
            </div>
            <div class="col-md-1 text-center border-right"
                 ng-if="showBounty && question.bounty_amount">
                <div>Bounty</div>
                <div>
                    <h4 class="">{{question.bounty_amount}}</h4>
                </div>
            </div>
            <div class="col-md-1 text-center border-right"
                 ng-if="showBounty && !question.bounty_amount">
                <p>No Bounty</p>
            </div>
            <div class="col-md-1 text-center border-right">
                <div>Answers</div>
                <div>
                    <h4 class="">{{question.answer_count}}</h4>
                </div>
            </div>
            <div class="col-md-10">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" ng-bind-html="question.title"></h5>
                    <small>{{question.fromNow}}</small>
                </div>
                <p class="mb-1"><span ng-repeat="tag in question.tags"><span
                              class="badge badge-info font-weight-normal">{{tag}}</span>&nbsp;</span>
                </p>
            </div>
        </div>
    </a>
</div>